.mainBackground {
  border-radius: 10px;
  background-color: lightsteelblue;
  padding: 20px;
  margin-top: 20px;
}
.mainBottomBar {
  display: flex;
  justify-content: flex-end;
}
.itemBackground {
  display: flex;
  background-color: lightsteelblue;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 20px;
  align-items: center;
}
.remove-button {
  margin-left: auto;
}

.todo-text-done {
  text-decoration: line-through;
}

.todo-text {
  margin: 0 20px;
}